<div class="col-12">
  <div class="card">

    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <h5>Edit Question</h5></div>
      <div class="flex align-items-baseline justify-content-center">
        <p-button [text]="true" icon="{{layoutService.fullScreen?'fas fa-minimize' : 'fas fa-expand'}}"
                  (onClick)="layoutService.fullScreenToggle()"></p-button>
      </div>
    </div>

    <div>
      <p-splitter [panelSizes]="[25, 75]">
        <ng-template pTemplate>
          <div class="col">
            <div class="grid">
              <div class="col-12" *ngFor="let item of questionDetails; index as i;">
                <p-card (click)="selectQuestion(i)">
                  <ng-template pTemplate="header">
                    <p-button [style]="{float:'right'}" icon="pi pi-times" [text]="true" [rounded]="true"
                              severity="danger"
                              [outlined]="true" (click)="onQuestionDelete(i)"></p-button>
                  </ng-template>
                  <div class="overflow-hidden surface-overlay" style="height:200px;width: 170px">
                    <div style="transform:scale(0.3); transform-origin: 0 0" [innerHTML]="questionDetails[i].quesDesc">

                    </div>
                  </div>
                </p-card>
              </div>
            </div>
            <div class="flex justify-content-center p-2">
              <p-button icon='pi pi-plus' label="Add Question" (onClick)="showAddQuestionDialog()"></p-button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col">
            <div class="grid formgrid mb-1">
              <div class="col-4 mb-2 lg:mb-0 p-inputgroup">
                <span class="p-inputgroup-addon">Sequence No.</span>
                <input type="text" pInputText [disabled]="true" [(ngModel)]="questionDetail.seqNo"/>
              </div>
              <div class="col-4 mb-2 lg:mb-0 p-inputgroup">
                <span class="p-inputgroup-addon">Marks</span>
                <input type="text" pInputText (blur)="autoSaveQuestion()" [disabled]="selectedIndex<0"
                       [(ngModel)]="questionDetail.marks"/>
              </div>
              <div class="col-4 mb-2 lg:mb-0">
                <p-fileUpload #fileUpload mode="basic" name="demo[]" accept=".pdf" [maxFileSize]="1000000" (onSelect)="onFileSelect($event)" [auto]="true" [multiple]="false" chooseLabel="Browse"></p-fileUpload>
              </div>
            </div>
            <p-editor [hidden]="questionDetail.isFile" #editor [(ngModel)]="questionDetail.quesDesc"
                      [readonly]="!questionSelected" (onSelectionChange)="autoSaveQuestion()"
                      [style]="{ height: '100vh', width:'auto'}"
                      (onTextChange)="onTextChange($event,editor)"></p-editor>

            <iframe [hidden]="!questionDetail.isFile"  #pdfIframe width="100%" height="100%" type="application/pdf"></iframe>

          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
  <div class="flex right-100">
    <p-button label="Save"></p-button>
  </div>
</div>
<p-dialog header="Input Marks of question" [modal]="true" [(visible)]="newQuestionDialogVisible">
<div class="flex flex-column flex-wrap">
  <input class="mb-2" pInputText [(ngModel)]="inputMark"  placeholder="Question Mark">
  <p-button label="Add Question" (onClick)="addNewQuestion()"></p-button>
</div>


</p-dialog>
