<div class="col-12" style="z-index:1">
  <div class="card">
    <div id="preview" style="width:600px; height:600px; z-index:-1; position: absolute; top: 100px; left:100px "></div>
    <div class="flex justify-content-between flex-wrap">
      <div class="flex flex-grow-1">
        <div class="flex flex-row gap-2">
          <h5>Edit Question</h5>
          <p-button [label]="questionInfo.subjectName" (onClick)="questionDetailsDialogVisible=true;"
                    [style]="{padding:'1px'}" [text]="true" severity="secondary"></p-button>
          <p-button icon="pi pi-info" severity="secondary" (onClick)="questionDetailsDialogVisible=true;"
                    [style]="{marginTop:'0px', height:'23px', width:'23px'}" [rounded]="true"
                    [outlined]="true"></p-button>
        </div>
      </div>
      <div class="flex align-items-baseline justify-content-center">
        <p-button [text]="true" icon="{{layoutService.fullScreen ? 'fas fa-minimize' : 'fas fa-expand'}}"
                  (onClick)="layoutService.fullScreenToggle()"></p-button>
      </div>
    </div>

    <div>
      <p-splitter [panelSizes]="[25, 75]">
        <ng-template pTemplate>
          <div id="left-part" style="width:100%">
            <p-scrollPanel [style]="{ height: '100vh' , backgroundColor:'#e3e5e7', padding:'20px'}">
              <div class="flex flex-column justify-content-center">
                <div class="flex flex-column align-items-center justify-content-center">
                  <div class="mb-5 w-full"
                       *ngFor="let item of questionDetails; index as i;">
                    <div class="card" [ngClass]="{'border border-2 border-blue-400': selectedIndex === i}"
                         (click)="selectQuestion(i)"
                         [style]="{overflow:'clip',padding:0}">
                      <div class="relative">
                        <div
                          class="top-0 left-0 font-bold align-items-center justify-content-center w-full">
                          <div class="flex justify-content-between align-items-start">
                            <div class="m-2">
                              <p-badge [severity]="i===selectedIndex ? 'info':'warning'"
                                       [value]='item.seqNo.toString()'></p-badge>
                            </div>
                            <div class="">
                              <p-button icon="pi pi-times" [text]="true" [rounded]="true"
                                        severity="danger"
                                        [outlined]="true" (click)="onQuestionDelete(i)"></p-button>
                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="h-20rem">
                        <img *ngIf="thumbnailBlobMap.get(item.id)" style="width:100%; overflow:clip "
                             src="{{thumbnailBlobMap.get(item.id)}}"
                             alt="thumbnail">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="flex justify-content-center p-2">
                <p-button icon='pi pi-plus' label="Add Question" (onClick)="showAddQuestionDialog()"></p-button>
              </div>
            </p-scrollPanel>

          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col">
            <div class="flex flex-row justify-content-between mb-1">
              <div class="flex flex-row">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">Sequence No.</span>
                  <input type="text" pInputText [disabled]="selectedIndex<0"
                         [(ngModel)]="questionDetail.seqNo"/>
                </div>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">Marks</span>
                  <input type="text" pInputText [disabled]="selectedIndex<0"
                         [(ngModel)]="questionDetail.marks"/>
                </div>
              </div>

              <div class="flex justify-content-between align-items-center flex-row gap-2">
                <p-fileUpload #fileUpload mode="basic" name="demo[]" accept=".pdf" (onUpload)="onUpload($event)"
                              [maxFileSize]="1000" (message)="message()"
                              [style]="{backgroundColor:'transparent', color:'black'}"
                              (onSelect)="onFileSelect($event)" (onError)="fileError($event)" [auto]="true"
                              [multiple]="false"
                              chooseLabel="Attach File"></p-fileUpload>

                <p-button label="Save" [raised]="true" severity="success" icon="pi pi-save"
                          (onClick)="validateAndSave()"></p-button>
              </div>

            </div>


            <p-editor *ngIf="!questionDetail.isFile" #editor [(ngModel)]="questionDetail.quesDesc"
                      [readonly]="!questionSelected"
                      [style]="{ height: '80vh', width:'auto'}"
                      (onTextChange)="onTextChange($event,editor)"></p-editor>

            <pdf-viewer *ngIf="questionDetail.isFile" #pdfView [src]="pdfBlobMap.get(questionDetail.id)"
                        [style]="{width:'100%', height:'900px'}"
                        [render-text]="true"
                        [original-size]="false"
                        style="width: 400px; height: 500px"
            ></pdf-viewer>

          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
</div>

<p-dialog header="Input Marks of Question" [modal]="true" [(visible)]="newQuestionDialogVisible">
  <div class="flex flex-column flex-wrap">
    <input class="mb-2" pInputText [(ngModel)]="inputMark" placeholder="Question Mark">
    <p-button label="Add Question" (onClick)="addNewQuestion()"></p-button>
  </div>
</p-dialog>
<p-dialog  [modal]="true" [(visible)]="questionDetailsDialogVisible">
  <div class="flex flex-column flex-wrap">

      <p-table [value]=[1] styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th [colSpan]="2" style="text-align: center">Question Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-e let-rowIndex="rowIndex">
          <tr>
            <td>Exam Level</td>
            <td>{{examLevelMap.get(questionInfo.examLevel)}}</td>
          </tr>
          <tr>
            <td>Year</td>
            <td>{{(questionInfo.year)}}</td>
          </tr>
          <tr>
            <td>Session</td>
            <td>{{questionInfo.session}}</td>
          </tr>
          <tr>
            <td>Subject</td>
            <td>{{questionInfo.subjectName}}</td>
          </tr>
        </ng-template>
      </p-table>

    <div class="flex flex-grow-1 align-content-end justify-content-end mt-3">
      <p-button label="Close" (onClick)="questionDetailsDialogVisible=false;"></p-button>

    </div>
  </div>
</p-dialog>



