<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card p-fluid">
      <h5>Create Question</h5>

      <div class="p-fluid p-formgrid grid">

        <div class="field col-12 md:col-3">
<!--          <label htmlFor="exam-level">Exam Level</label>-->
          <p-dropdown [options]="examLevels" optionLabel="name"></p-dropdown>
        </div>

        <div class="field col-12 md:col-3">
<!--          <label htmlFor="session">Session</label>-->
          <p-dropdown [options]="sessions" optionLabel="name"></p-dropdown>
        </div>

        <div class="field col-12 md:col-3">
<!--          <label htmlFor="subject">Subject</label>-->
          <p-dropdown [options]="subjects" optionLabel="name"></p-dropdown>
        </div>

        <div class="field col-12 md:col-3">
<!--          <label htmlFor="year">Year</label>-->
          <div class="flex flex-wrap gap-1">
            <div class="flex">
              <p-dropdown [options]="years"  optionLabel="name" placeholder="Select" (message)="'h'"></p-dropdown>
            </div>
            <div class="flex">
              <p-button icon="pi pi-search"></p-button>
            </div>
          </div>
        </div>

        <div class="card" style="width: 100%">
          <p-table [value]="questions" [tableStyle]="{ 'min-width': '50rem', 'width':'100%', 'text-align':'center'}">
            <ng-template pTemplate="header">
              <tr>
                <th>Question Code</th>
                <th>Session</th>
                <th>Status</th>
                <th style="text-align:right">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-question>
              <tr>
                <td>{{ question.code }}</td>
                <td>{{ question.session }}</td>
                <td>{{ question.status }}</td>
                <td style="text-align: right">
                  <p-menu #menu [popup]="true" [model]="actionMenus" appendTo="body"></p-menu>
                  <p-button  icon="pi pi-ellipsis-v" [text]="true" severity="secondary"  (click)="menu.toggle($event)" ></p-button>

                </td>

              </tr>
            </ng-template>
          </p-table>

        </div>


      </div>
    </div>
  </div>

</div>
