<div class="grid" [formGroup]="createQuestionForm">
  <div class="col-12 md:col-12">
    <div class="card p-fluid">
      <h5>Create Question</h5>

      <div class="p-5">
        <div class="formgrid grid">
          <div class="field col">
            <label for="exam-level">Exam Level</label>
            <p-dropdown id="exam-level" formControlName="examLevel" [showClear]="true" placeholder="Select Exam Level"
                        [options]="examLevels" optionLabel="name"></p-dropdown>
          </div>
          <div class="field col">
            <label for="session">Session</label>
            <p-dropdown id="session" [showClear]="true" placeholder="Select Session" formControlName="session"
                        [options]="sessions" optionLabel="name"></p-dropdown>
          </div>

        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="year">Year</label>
            <p-calendar id="year" [showClear]="true" placeholder="Select Year" formControlName="year" view="year"
                        dateFormat="yy" inputId="yearpicker"></p-calendar>
          </div>
          <div class="field col">
            <label for="subject">Subject</label>
            <p-dropdown id="subject" [showClear]="true" placeholder="Select Subject" formControlName="subject"
                        [options]="subjects" optionLabel="name"></p-dropdown>
          </div>

        </div>

        <div class="flex justify-content-end">
          <p-button icon="pi pi-search" (onClick)="searchQuestion()" label="Find"></p-button>
        </div>
      </div>

    </div>
  </div>
</div>
