<div class="h-screen w-screen">

  <div class="flex flex-column h-full p-2">
    <!-----------------------header------------------->

    <div class="h-2rem">
      <div class="flex flex-row w-full">

        <!-----------------------Expand - Colapse Resource------------------->
        <div class="ml-2 flex flex-grow-0 justify-content-center align-items-center">
          <div class="justify-content-center align-items-baseline text-center">
            <p-button size="small" [text]="true" [label]="showResources ? 'Collapse Resources <<':'Show Resources >>'"
                      (onClick)="showResources = !showResources"></p-button>
          </div>
        </div>

        <!-----------------------Exam Status------------------->
        <div class="flex flex-grow-1 justify-content-center align-items-center">
          <div class="info">

            Subject: {{ examInfo.subjectName }}
          </div>

          {{ selectedIndex < 0 ? '-' : selectedIndex + 1 }}/{{ questionDetails.length }}

          <div class="info">
            Remaining Time: {{ remainingTime }}
          </div>


        </div>
        <div class="flex flex-grow-0 right-0 mr-5 justify-content-center align-items-center">
          <p-button size="small" label="" pTooltip="Toggle Sheet" tooltipPosition="bottom" [text]="true"
                    icon="fas fa-table"
                    (onClick)="toggleSheet()"></p-button>

          <p-button size="small" pTooltip="Calculator" tooltipPosition="bottom" label="" [text]="true"
                    icon="fas fa-calculator"
                    (onClick)="calulatorVisible = true"></p-button>

          <p-button size="small" label='Review & Submit' (onClick)="showReviewDialog()"></p-button>

        </div>

      </div>
    </div>



    <!-----------------------Body------------------->
    <div class="flex flex-row flex-grow-1 h-full overflow-hidden pb-2">
      <!-----------------------Resources------------------->
      <div *ngIf="showResources" class="card w-10rem m-2 p-2 flex flex-grow-0 flex-shrink-0 overflow-y-auto"
           style="background-color:#f8f6f6">
        <div class="flex flex-column flex-grow-1">
          <div class="mb-5 w-full"
               *ngFor="let item of questionDetails; index as i;">
            <div class="card" [ngClass]="{'border border-2 border-blue-400': selectedIndex === i}"
                 (click)="selectQuestion(i)"
                 [style]="{overflow:'clip',padding:0, width:'100%'}">
              <div class="relative">
                <div
                  class="top-0 left-0 font-bold align-items-center justify-content-center w-full">
                  <div class="flex justify-content-between align-items-start">
                    <div class="m-2">
                      <p-badge [severity]="i===selectedIndex ? 'info':'warning'"
                               [value]='item.seqNo.toString()'></p-badge>
                    </div>
                    <div *ngIf="pinnedItems.includes(item)" class="m-2">
                      <i class="fas fa-thumbtack"></i>

                    </div>

                  </div>

                </div>

              </div>
              <div class="h-10rem">
                <img *ngIf="thumbnailBlobMap.get(item.id)" style="width:100%; overflow:clip;padding:5px "
                     src="{{thumbnailBlobMap.get(item.id)}}"
                     alt="thumbnail">
              </div>

            </div>
          </div>

        </div>
      </div>


      <div class="flex flex-grow-1 m-2">
        <as-split direction="horizontal">
          <!--      Question Panes -->

          <as-split-area [size]="50">
            <div id="html-preview"></div>

            <as-split direction="vertical">

              <as-split-area>
                <div id="question-container" class="h-full relative">
                  <div *ngIf="selectedIndex > -1" class="absolute w-full" style="z-index: 22">
                    <div
                      class="top-0 left-0 w-full">
                      <div class="m-2 flex justify-content-between">
                        <p-badge [style]="{marginTop:'5px'}" [severity]="'info'"
                                 [value]='questionDetail.seqNo.toString()'></p-badge>
                        <p-button [text]="true"
                                  (onClick)="pinnedItems.includes(questionDetail) ? removePinItem(questionDetail) : pinnedItems.push(questionDetail)">
                          <i
                            [ngClass]="pinnedItems.includes(questionDetail) ? 'fas fa-thumbtack' :'fas fa-thumbtack -rotate-90'"></i>
                        </p-button>
                      </div>

                    </div>
                  </div>
                  <div class="h-full w-full surface-0 border-round">
                    <div class="h-full w-full p-3 pt-6 " id="question-view" *ngIf="!questionDetail.isFile"
                         [innerHTML]="questionDetail.quesDesc"></div>
                    <pdf-viewer *ngIf="questionDetail.isFile" [zoom]="1" class="h-full" #pdfView
                                [src]="pdfBlobMap.get(questionDetail.id)"
                                [render-text]="false"
                                [original-size]="true">

                    </pdf-viewer>
                  </div>


                </div>
              </as-split-area>

              <!--            --------pinned questions----------------->
              <as-split-area [size]="50/pinnedItems.length" *ngFor="let question of pinnedItems; index as i">
                <div class="h-full relative">
                  <div class="absolute w-full" style="z-index: 22">
                    <div
                      class="top-0 w-full">
                      <div class="m-2 flex justify-content-between">
                        <p-badge [style]="{marginTop:'5px'}" [severity]="'warning'"
                                 [value]='question.seqNo.toString()'></p-badge>
                        <p-button severity="secondary" [text]="true" (onClick)="pinnedItems.splice(i,1)"><i
                          class="fas fa-thumbtack"></i></p-button>
                      </div>

                    </div>
                  </div>
                  <div class="h-full w-full surface-0 border-round">
                    <div class="h-full w-full p-3 pt-6" style="z-index: 0" *ngIf="!question.isFile"
                         [innerHTML]="question.quesDesc"></div>

                    <pdf-viewer [zoom]="1" *ngIf="question.isFile" class="h-full" #pdfView
                                [src]="pdfBlobMap.get(question.id)"
                                [render-text]="false"
                                [original-size]="true">

                    </pdf-viewer>
                  </div>
                </div>
              </as-split-area>


            </as-split>


          </as-split-area>


          <!--------------------Right Pane------------------------>
          <as-split-area [size]="50">
            <as-split direction="vertical">
              <as-split-area [size]="sheetVisible?60:100">
                <div class="flex flex-column h-full w-full">
                  <div *ngIf="selectedIndex > -1" class="flip flex flex-grow-0 surface-0 border-round-top p-2 justify-content-center align-items-center">
                    <div class="flex flex-row justify-content-center align-items-center">
                      <div>Answer for Question {{questionDetail.seqNo}}</div>
                      <p-button class="inline p-1" size="small" (onClick)="manualSave()" label="Save" [text]="true"></p-button>
                    </div>

                  </div>
                  <div class="flex flex-grow-1 w-full">
                    <editor (onPaste)="onPaste($event)"
                            [disabled]="selectedIndex < 0"
                            [(ngModel)]="answer.answerDesc"
                            class="h-full -mt-1 w-full"
                            [init]="{
                      license_key: 'gpl',promotion:false, plugins: 'table lists' ,
                       menubar: '',
                       height: '100%',
                       width: '100%',
                       toolbar: 'undo redo styles bold italic underline fontsize table alignleft aligncenter alignright alignjustify lists'}"
                    ></editor>
                  </div>
                </div>
              </as-split-area>
              <as-split-area [size]="sheetVisible?40:0">
                <div *ngIf="sheetVisible" class="flex flex-column flex-grow-1 h-full">
                  <div id="luckysheet" style="top:0;left:0;width:100%;height:100%;"></div>
                </div>
              </as-split-area>
            </as-split>
          </as-split-area>
        </as-split>


      </div>

    </div>
  </div>
</div>

<p-dialog [(visible)]="calulatorVisible" [modal]="false" [style]="{width: scientificMode ? '778px' : '300px'}">
  <ng-template pTemplate="header">
    <p-toggleButton [(ngModel)]="scientificMode" onLabel="Normal" offLabel="Scientific"></p-toggleButton>
  </ng-template>
  <app-scientific-calculator [scientificMode]="scientificMode"></app-scientific-calculator>
</p-dialog>


<p-dialog [(visible)]="examOver" header="Exam Time Over !" [modal]="true" (onHide)="onCloseExamOverDialog()">
  <p> Exam Time is over</p>

</p-dialog>

<p-dialog *ngIf="reviewDialogVisible" [draggable]="false" [style]="{width:'100vw', height : '60vw','max-height':'100vh', 'overflow': 'hidden'}" [(visible)]="reviewDialogVisible" header="Review & Final Submission" [modal]="true" >
  <ng-template pTemplate="content" style="padding:0">
    <app-review></app-review>
  </ng-template>
    <p-button class="absolute bottom-0 right-0 p-3" icon="pi pi-check" size="small"  label="Submit" (onClick)="submitAnwers()" pAutoFocus [autofocus]="true"></p-button>
</p-dialog>


