<div #thumbview></div>
<div class="h-screen w-screen">

  <!-----------------------header------------------->
  <div class="h-3rem">

    <div class="flex flex-row w-full">
      <div class="flex flex-grow-1 justify-content-center align-items-center">
        <div class="info">
          Exam Level: {{examInfo.examLevelName}}
        </div>
        <div class="info">

          Session: {{examInfo.session}}
        </div>
        <div class="info">

          Subject: {{examInfo.subjectName}}
        </div>
        <div class="info">

          Start Time: {{examInfo.examStartsAt | date:'HH:mm'}}
        </div>
        <div class="info">
          End Time: {{examInfo.examEndsAt  | date:'HH:mm'}}
        </div>
        <div class="info">
          Remaining Time: {{remainingTime}}
        </div>


      </div>
      <div class="flex flex-grow-0 right-0 p-2 mr-5">
        <p-button label="" [text]="true" icon="fas fa-calculator" (onClick)="calulatorVisible = true"></p-button>
        <p-button label='Save Answer' (onClick)="manualSave()"></p-button>

      </div>

    </div>
  </div>

  <!-----------------------Body------------------->


  <div class="flex flex-row h-full">
    <!-----------------------Resources------------------->
    <div class="card w-10rem m-2 p-2 h-full flex-grow-0 overflow-y-scroll" style="background-color:#f8f6f6">
      <div class="mb-5 w-full"
           *ngFor="let item of questionDetails; index as i;">
        <div class="card" [ngClass]="{'border border-2 border-blue-400': selectedIndex === i}"
             (click)="selectQuestion(i)"
             [style]="{overflow:'clip',padding:0, width:'100%'}">
          <div class="relative">
            <div
              class="top-0 left-0 font-bold align-items-center justify-content-center w-full">
              <div class="flex justify-content-between align-items-start">
                <div class="m-2">
                  <p-badge [severity]="i===selectedIndex ? 'info':'warning'"
                           [value]='item.seqNo.toString()'></p-badge>
                </div>
              </div>

            </div>

          </div>
          <div class="h-10rem">
            <img *ngIf="thumbnailBlobMap.get(item.id)" style="width:100%; overflow:clip "
                 src="{{thumbnailBlobMap.get(item.id)}}"
                 alt="thumbnail">
          </div>

        </div>
      </div>
    </div>
    <div class="flex flex-grow-1 m-2">
      <as-split direction="horizontal">
        <as-split-area [size]="50">
          <div class="card h-full">
            <div id="question-view" [innerHTML]="questionDetail.quesDesc"></div>

            <pdf-viewer [zoom]="1" *ngIf="questionDetail.isFile" class="h-full" #pdfView
                        [src]="pdfBlobMap.get(questionDetail.id)"
                        [render-text]="false"
                        [original-size]="false"
            ></pdf-viewer>
          </div>

        </as-split-area>
        <as-split-area [size]="50">
          <as-split direction="vertical">
            <as-split-area [size]="50">
              <p-editor #editor [(ngModel)]="answer.answerDesc"
                        [style]="{ height: '500px', width:'auto'}"
                        (onTextChange)="onTextChange($event,editor)"></p-editor>

            </as-split-area>
            <as-split-area [size]="50">
              <gc-spread-sheets [backColor]="'#f5f5f5'" [hostStyle]="hostStyle">

                <gc-worksheet name="Sheet1" [defaultStyle]="gcStyle">

                </gc-worksheet>
              </gc-spread-sheets>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>


    </div>

  </div>

</div>

<p-dialog header="" [(visible)]="calulatorVisible" [modal]="true" [style]="{ width: '550px' }">
  <app-scientific-calculator></app-scientific-calculator>
</p-dialog>

