.info{
  background-color: #dcd7da;
  color: #050000;
  margin: 5px;
  font-size: 12px;
  height:min-content;
  text-align:center;
  display: inline;
  padding:3px;
  border-radius: 10px ;
}
/* Hide the header part of Lucky Sheet */
.luckysheet_info_detail {
  display: none!important;
}

/* Expand the sheet part to fill the container */
.luckysheet-grid-container {
  height: 100%;
}
