    <div class="card p-fluid">
      <div class="flex flex-column justify-content-center align-items-center">
        <div class="sm:col-10 md:col-10 lg:col-8">
            <p-table [value]=[1]  styleClass="p-datatable-gridlines" >
              <ng-template pTemplate="header">
                <tr>
                  <th [colSpan]="2" style="text-align: center">WELCOME</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-e let-rowIndex="rowIndex">
                <tr>
                  <td>Name</td>
                  <td>{{adminData.fullName}}</td>
                </tr>

                <tr>
                  <td>Email</td>
                  <td>{{adminData.email}}</td>
                </tr>
                <tr>
                  <td>User Type</td>
                  <td>{{adminData.userType}}</td>
                </tr>
              </ng-template>
            </p-table>
        </div>
        <div class="sm:col-10 md:col-10 lg:col-8 justify-content-center align-items-center">
          <img src="./assets/images/exam.png" alt="exam-image" class="w-full h-full">
        </div>

      </div>


    </div>
