
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <div class="resource-card">
        <!-- Header -->
        <div class="resource-header px-3 py-2">
          <h5 class="mb-0" style="font-size: 7pt;">Resources <span class="collapse-icon">&laquo;</span></h5>
          <app-qthumbnail item="1"></app-qthumbnail>
          <app-qthumbnail item="2"></app-qthumbnail>
          <app-qthumbnail item="3"></app-qthumbnail>
          <app-qthumbnail item="4"></app-qthumbnail>
          <app-qthumbnail item="5"></app-qthumbnail>
        </div>
        <!-- Body -->
      </div>


    </div>
    <div class="col-md-11">
      <as-split unit="percent" #split="asSplit" direction="horizontal">
        <as-split-area [size]="40">
          <as-split direction="vertical">
            <as-split-area>
              <div [innerHTML]="questionText"></div>
            </as-split-area>
          </as-split>
        </as-split-area>
        <as-split-area [size]="60">
          <as-split direction="vertical">
            <as-split-area [size]="20">
              <ckeditor [editor]="Editor" data="<p></p>"></ckeditor>
            </as-split-area>
            <as-split-area [size]="80">
              <gc-spread-sheets></gc-spread-sheets>
<!--              <div class="spreadSheet">-->
<!--                <div id="ribbonHost"></div>-->
<!--                <div id="ss"></div>-->
<!--              </div>-->
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
<small>Angular Version:1</small>












<!-- <div style="width: 100%; height: 500px; background: yellow;">
  <as-split direction="horizontal">
    <as-split-area [size]="40">
      <p>LEFT</p>
    </as-split-area>
    <as-split-area [size]="60">
      <div class="left-side"><gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
      </gc-spread-sheets>
      </div>
    </as-split-area>
  </as-split>
</div> -->
