<div class="col-12">
  <div class="card">

    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <h5>Edit Question</h5></div>
      <div class="flex align-items-center justify-content-center">
        <p-button [text]="true" icon="pi pi-check" (onClick)="layoutService.fullScreenToggle()"></p-button>
      </div>
    </div>


    <div>
      <p-splitter [panelSizes]="[25, 75]">
        <ng-template pTemplate>
          <div class="col">
              <div class="grid">
                <div class="col-12" *ngFor="let item of questions; index as i;">
                  <p-card (click)="selectQuestion(i)">
                    <ng-template pTemplate="header">
                      <p-button [style]="{float:'right'}" icon="pi pi-times" [text]="true" [rounded]="true"
                                severity="danger"
                                [outlined]="true" (click)="onQuestionDelete(i)"></p-button>
                    </ng-template>
                    <div class="overflow-hidden surface-overlay" style="height:200px;width: 170px">
                      <div style="transform:scale(0.3); transform-origin: 0 0" [innerHTML]="item.html">

                      </div>
                    </div>
                  </p-card>
                </div>
              </div>

          </div>
        </ng-template>
        <ng-template pTemplate>
          <div class="col">
            <div class="grid formgrid mb-1">
              <div class="col-6 mb-2 lg:mb-0 p-inputgroup">
                <span class="p-inputgroup-addon">Marks</span>
                <input type="text" pInputText [(ngModel)]="question.marks"/>
              </div>
              <div class="col-6 mb-2 lg:mb-0">
                <p-button [style]="{float:'right'}" label="Attach File" icon="pi pi-plus"></p-button>
              </div>
            </div>
            <p-editor #editor [(ngModel)]="question.html" [placeholder]="!questionSelected ? 'Select Question':null" [readonly]="!questionSelected"
                      [style]="{ height: '100vh', width:'auto'}"
                      (onTextChange)="onTextChange($event,editor)">
            </p-editor>
          </div>
        </ng-template>
      </p-splitter>
    </div>
  </div>
  <div class="flex right-100">
    <p-button label="Save"></p-button>
  </div>
</div>
